{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}

<style type="text/css">
h1 {
  color:rgb(255, 123, 0);
  text-align: center;
  font-family:Segoe UI;
  font-size: 350%;
  }

h3{
  color:rgb(0, 0, 0);
  font-family:Segoe UI;
  font-size: 150%;
  }

a{
  color:rgb(0, 0, 0);
  font-family:Segoe UI;
  font-size: 125%;
  }
</style>

<h3> Hola {{ user.get_username }} </h3>
<p>
    <a href="{% url 'logout' %}">Cierra Sesion</a>
    <style>
      b{
        color:rgb(235, 15, 15);
        font-family:Segoe UI;
        font-size: 125%;
        height: 150px;
        left: 700px;
        position: relative;
        top: -250px;
        width: 100px;
        }
      </style>
    
</p>
{% else %}

<h3> Hola </h3>


<p>
    <a href="{% url 'login' %}">Inicia Sesion</a> o
    <a href="{% url 'register' %}">Registrate</a>
</p>
{% endif %}

<hr>

{% if messages %}
    {% for message in messages %}
    <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
        <button class="delete"></button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

<h5> Ultimos productos </h5>
<ul>
    {% for producto in latest_products %}
    <li>
      <a href="{% url 'product-detail' producto.pk %}">
        {{ producto.nombre }}
      </a>
      - {{ producto.precio }}
    </li>
  {% empty %}
    <li>Aun no hay productos disponibles.</li>
  {% endfor %}
</ul>
<hr>
<ul>
  <li><a href="{% url 'product-list' %}">Ver Lista de Productos Completa</a></li>
</ul>
{% endblock %}

